extends layout

block content

  h1#letrero
  button#nivel(type="button") "nivel"

  if (!user)
    div.botonInicio
      a(href="/login")
        input(type="button",value="Iniciar Sesion")
  if (user)
    div.botonSalir
      p.user Bienvenid@ a la pagina #{user.username}
        &nbsp;&nbsp;&nbsp;&nbsp;
        a(href="/logout")
          input(type="button",value="Salir")
  script(src='http://code.jquery.com/jquery.js')
  script(src='/javascripts/nivel.js')
