extends layout

block content

  if (!user)
    div.botonInicio
      a(href="/login")
        input(type="button",value="Iniciar Sesion")
  if (user)
      p Bienvenid@ a la pagina #{user.username}
      a(href="/logout") Logout
