extends layout

block content

  if (!user)
    div.botonInicio
      a(href="/login")
        input(type="button",value="Iniciar Sesion")
  if (user)
    div.botonSalir
      p.user Bienvenid@ a la pagina #{user.username}
        &nbsp;&nbsp;&nbsp;&nbsp;
        a(href="/logout")
          input(type="button",value="Salir")
